*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
 margin: 20px;
 margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;

}
.box{
    height: 250px;
    width: 100%;
 justify-items: center;


    
}
#header{
    grid-column: 1/3;
    text-align: center;
    
} 


#main{
     border: 1px solid grey;
     padding: 25px;
}
#side{
    padding: 25px;
    border: 1px solid grey;
    

}
#world{
    color: blue;
}
#design{
    color: rgb(48, 147, 48);
}
a{
    position: relative;
    display: block;
    margin-top: 45px;
    color: blue;
}
p{
    position: relative;
    height: 40px;
}



